*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4f4;

}

.login-container{
    background-color: #fff;
    padding: 2rem;
    box-shadow: 0 4px 6px rgb(0,0,0,1);
    width: 100%;
    max-width: 400%;


}
login-form h2{
    text-align: center;
    margin-bottom: 1.5rem;
    color: #333

}
Form-group{
    margin-bottom: 1rem;

}
form-label{
    display: block;
    margin-bottom: 0.5rem;
    color: #333;

}
form-group{
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #333 ;
    border-radius: 4px;

}
form-group input:invalid{
    border-color: #e74c3c;
.erro-menssage{
    color: #e74c3c;
}
}
.form-group input: invalid + .erro-menssage{
    display: block;


}
.login-buttin{
    width: 100%;
    padding: 0.75rem;
    background-color:#3498db;
    border: none;
    border-radius:  4px;
    color: #fff;
    cursor: pointer;
    transition: backgraund-color 0.2s;


}
.login-buttin:houver{
    background-color: rgb(37,124,218);
    
}
